#main-container {
    height: 100vh;
}

.bold {
    font-weight: bold;
}

body {
    background-color: #efebe9
}

.js-plotly-plot .plotly .modebar {
    /* position: absolute;
    bottom: 2px;
    left: 2px;
    top: auto;
    right: auto; */
}

#helpBtn {
    position: fixed;
    bottom: 25px;
    right: 25px;
}